@use '../utils' as *;
@use '../base' as *;

.digital-ball {
    @include mq(mq1) {
        margin-bottom: 1rem;
    }

    @include mq(mq4) {
        margin-bottom: 4rem;
    }

    .overlay {
        // will add style in queries
    }

    .globe {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        overflow: hidden;
        will-change: transform;

        @include mq(mq1) {
            width: 3em;
            height: 3em;
        }

        @include mq(mq2) {
            width: 5em;
            height: 5em;
        }

        @include mq(mq5) {
            width: 8em;
            height: 8em;
        }

        .globe-wrap {
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            border-radius: 50%;
            transform: translate(-50%, -50%) rotate(30deg);
            animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
            overflow: hidden;
            box-shadow: inset 0px 0px 0px .125em $clr-white;

            @include mq(mq2) {
                box-shadow: inset 0px 0px 0px .225em $clr-white;
            }

            @include mq(mq5) {
                box-shadow: inset 0px 0px 0px .3em $clr-white;
            }

            .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                box-shadow: inset .1em 0px 0px .08em $clr-white;
                animation: circle1 2.7s linear infinite;
                font-size: .75em;

                &:nth-child(1) {
                    animation-delay: -1.8s;
                }

                &:nth-child(2) {
                    animation-delay: -9s;
                }
            }

            .circle-hor {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 150%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                height: 55%;
                box-shadow: inset 0px 0px 0px .15em $clr-white;
                font-size: .75em;

                @include mq(mq2) {
                    font-size: 1.3em;
                }

                @include mq(mq2) {
                    font-size: 1.8em;
                }
            }

            .circle-hor-middle {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 150%;
                transform: translate(-50%, -50%);
                border-radius: 0%;
                height: .15em;
                background: $clr-white;
                font-size: .75em;

                @include mq(mq2) {
                    height: .25em;
                }

                @include mq(mq2) {
                    height: .4em;
                }
            }
        }
    }
}

.btn-fill {
    display: block;
    background: $clr-orange;
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0, -76%, 0);
    will-change: transform;
    transition: background-clr ease-in-out .25s;
    z-index: -1;
    pointer-events: none;
}

.shapey {
    position: absolute;
    width: 100%;

    .footer-shape {
        width: 100%;
        top: 0;
        position: relative;
        height: 10vh;
        overflow: hidden;
        transform: translateY(-1px);
        will-change: height;

        .layout {
            width: 150%;
            content: "";
            display: block;
            position: absolute;
            background: $clr-white;
            height: 350%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -86.666%);
            z-index: 20;

            @include mq(mq1) {
                height: 750%;
            }
        }
    }
}



.hamb-wrapper {
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: transform 0.4s cubic-bezier(0.36, 0, 0.66, 0);
    transform: translateY(0%) scale(0) rotate(0.001deg);
    z-index: 205;

    @include mq(mq2) {
        top: 2rem;
        right: 3.5rem;
    }

    @include mq(mq5) {
        right: 4rem;
    }

    &.show-hamburger-scroll {
        transform: translateY(0%) scale(1) rotate(0.001deg);
    }

    &.active-hamburger {
        transform: translateY(0%) scale(1) rotate(0.001deg);

        .hamburger-btn {
            background-color: $clr-orange-dark;

            .btn-text {
                span {
                    transform: translate(-13px,
                            2px) rotate(45deg);

                    &:nth-child(2) {
                        transform: translate(-13px,
                                2px) rotate(-45deg);

                        @include mq(mq2) {
                            transform: translate(-7px,
                                    10px) rotate(-45deg);
                        }

                        @include mq(mq5) {
                            transform: translate(2px,
                                    28px) rotate(-45deg);
                        }
                    }

                    @include mq(mq2) {
                        transform: translate(-7px,
                                10px) rotate(45deg);
                    }

                    @include mq(mq5) {
                        transform: translate(2px,
                                28px) rotate(45deg);
                    }
                }
            }
        }
    }

    .hamburger-btn {
        width: 70px;
        height: 70px;
        border: 0;
        transition: background-color 0.25s cubic-bezier(0.36, 0, 0.66, 0), box-shadow 0.25s cubic-bezier(0.36, 0, 0.66, 0);
        border: none;
        padding: 2rem;
        overflow: hidden;

        @include mq(mq2) {
            width: 90px;
            height: 90px;
        }

        @include mq(mq5) {
            width: 120px;
            height: 120px;
        }

        .btn-text {
            pointer-events: none;
            position: absolute;
            width: 45%;
            height: 8%;
            opacity: 1;

            span {
                display: block;
                position: absolute;
                height: 1.5px;
                width: 100%;
                border-radius: 50rem;
                transform: translate(-14px, 0px);
                background: #FFFFFF;
                transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

                @include mq(mq2) {
                    transform: translate(-6px, 5px);
                }

                @include mq(mq5) {
                    transform: translate(2px, 29px);
                }

                &:nth-child(2) {

                    transform: translate(-14px, 8px);

                    @include mq(mq2) {
                        transform: translate(-6px, 14px);
                    }

                    @include mq(mq5) {
                        transform: translate(2px, 19.5px);
                    }
                }
            }
        }
    }
}

.rounded-shape-menu {
    position: absolute;
    top: 0;
    left: 1px;
    transform: translateX(-100%);
    height: 100%;
    z-index: 10000;

    .rounded-div-wrap {
        position: relative;
        top: 0;
        height: 100%;
        width: 20vw;
        transition: all .85s cubic-bezier(.7, 0, .2, 1);
        will-change: width;
        overflow: hidden;
        z-index: 10000;

        .rounded-div {
            width: 775%;
            content: "";
            display: block;
            position: absolute;
            height: 150%;
            top: 50%;
            left: 50%;
            background: $clr-black;
            border-radius: 50%;
            transform: translate(-6.5%, -50%);
            z-index: 10000;

        }
    }
}

.gat {
    // position: relative;
    position: absolute;
    inset: 0%;
    pointer-events: none;
    user-select: none;
    // top: 0;

    .grid-container {
        --column: 2;
        --row: 2;
        display: grid;
        grid-template-columns: repeat(var(--column), 1fr);
        grid-template-rows: repeat(var(--row), 1fr);
        gap: 25px;

        .grid-item {
            background: linear-gradient(0deg, rgba(65, 65, 65, .05) 0%, rgba(255, 255, 255, .05) 100%);
            padding: 10px;
            border-radius: 50%;
            z-index: 2;
            transform-origin: center;
        }

        .layer-dot {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            z-index: -1;
        }
    }
}

.shape {
    position: absolute;
    top: -6.35rem;
    left: -24%;
    display: none;

    // @include mq(mq1) {
    //     scale: 1.2;
    //     top: -5.15rem;
    //     left: 8px;
    // }

    @include mq(mq3) {
        scale: 1.5;
        top: 5rem;
        left: 6.8rem;
    }

}

.blur-shape {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(4px);
    z-index: 100;
    opacity: 0;
    transition: .5s ease-out;
    pointer-events: none;

    &.active-blur-shape {
        opacity: 1;
    }
}

.back-top {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    right: 1rem;
    bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3);
    background-color: $clr-black;
    z-index: 2;
    transition: .3s ease-out;
    opacity: 0;
    transform: scale(.5);

    @include mq(mq3) {
        right: 2rem;
        bottom: 2.2rem;
    }

    svg {
        fill: $clr-white
    }
}