@use '../utils' as *;
@use '../base' as *;

::-webkit-scrollbar {
    width: .2rem;
    border-radius: .5rem;
    background-color: red;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: $clr-white;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $clr-black;
}

.slider-section {
    position: relative;
    height: 63vh;
    z-index: 3;

    @include mq(mq1) {
        height: 70vh;
    }

    @include mq(mq4) {
        height: 100vh;
    }

    .slider-container {
        @include container;
        @include section;

        position: absolute;
        inset: 0;
        display: grid;
        gap: 3rem;

        .slider {
            @include flex-center-center;
            gap: 1rem;
            flex-shrink: 0;

            img {
                width: 200px;

                @include mq(mqxslider) {
                    width: 220px;
                }

                @include mq(mq3) {
                    width: 260px;
                }

                @include mq(mq4) {
                    width: 300px;
                }

                // @include mq(mq5) {
                //     width: 500px;
                // }
            }
        }

        .sliderone {
            transform: translateX(-450px);
        }

        .slidertwo {
            transform: translateX(-90px);
        }
    }


}