/* ========================= Styleguide ® Code by Ahmed Ayob ================================================== */

/* ========================= Colors ================================================== */


$clr-black: #1C1D20;
$clr-black-dark: #141517;
$clr-white: #fff;
$clr-gray: #999D9E;
$clr-orange: #455CE9;
$clr-orange-dark: #334BD3;

$clr-border: rgba(28, 29, 32, 0.175);
$clr-border-solid: #D2D2D2;
$clr-border-light: #ffffff33;
$clr-border-solid-light: #545557;

$clr-text: #1C1D20;
$clr-text-light: #FFF;

$clr-blur: #ccc;

$alert-error: #ff4444;
$alert-success: #24C958;