@use '../utils' as *;
@use '../base' as *;

.menu-shapes-wrapper {
    @include grid-place-center;
    position: fixed;
    inset: 0;
    // margin: 0 auto;
    pointer-events: none;

    .home-shape {
        transform: rotate(-60deg);
    }

    svg {
        position: absolute;
        width: 100%;
        left: -20%;
        bottom: 2rem;
        scale: 2;
        opacity: .4;
        // transform: scale(3);

        @include m1(mq4) {
            bottom: 18%;
        }
    }
}