@use '../utils' as *;
@use '../base' as *;

.menu-shapes-wrapper {
    @include grid-place-center;
    position: fixed;
    inset: 0;
    // margin: 0 auto;
    pointer-events: none;

    .home-shape {
        background-image: url('../../../public/menu2.jpg');
        background-position: center 40%;
        background-size: 110vmax;
        height: 100%;
        left: 0px;
        opacity: 0.15;
        position: absolute;
        top: 0px;
        transition: opacity 800ms ease,
            background-size 800ms ease,
            background-position 800ms ease;
        width: 100%;
        z-index: 0;
    }

    .shapes {
        background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%,
                transparent 9%);
        background-position: 0% 0%;
        background-size: 12vmin 12vmin;
        height: 100vh;
        left: 0px;
        position: absolute;
        top: 0px;
        transition: opacity 800ms ease,
            background-size 800ms ease,
            background-position 800ms ease;
        width: 100vw;
        z-index: 1;
    }
}

.nav-menu {
    &:hover .home-shape {
        background-size: 100vmax;
        opacity: 0.1;
    }

    &:hover .shapes {
        background-size: 11vmin 11vmin;
        opacity: 0.5;
    }

}

.nav-menu[data-active-index="0"] .shapes {
    background-position: 0% -25%;
}

.nav-menu[data-active-index="1"] .shapes {
    background-position: 0% -50%;
}

.nav-menu[data-active-index="2"] .shapes {
    background-position: 0% -75%;
}

.nav-menu[data-active-index="3"] .shapes {
    background-position: 0% -100%;
}

.nav-menu[data-active-index="0"] .home-shape {
    background-position: center 45%;
}

.nav-menu[data-active-index="1"] .home-shape {
    background-position: center 50%;
}

.nav-menu[data-active-index="2"] .home-shape {
    background-position: center 55%;
}

.nav-menu[data-active-index="3"] .home-shape {
    background-position: center 60%;
}